#snake_contact {
  height: auto;
  width: 300px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}
img:hover {
  transform: scaleX(-1);
}

#planch-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.btn-virtical-align:hover {
  background-color: snow;
  color: black;
  cursor: pointer;
}

.btn-virtical-align {
  margin-top: auto;
  margin-bottom: auto;

  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  font-size: x-large;

  text-align: center;
  display: inline-block;
  width: 173px !important;
}

