body {
    background: linear-gradient(green, purple, silver, black);
    background-position: center;
}

a {
    color: rgba(197, 8, 197, 0.932) !important;
}

.btn {
    color: silver !important;
}

.btn.btn-outline-primary {
    border: none !important;
}

#homepage_header {
    width: 700px;
    height: 500px;
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}