body {
    background-image: url('../img/homepage_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

a {
    color:rgb(53, 170, 216) !important;
    font-family: 'Clicker Script', Arial, sans-serif !important;
    font-size: 50px !important;
    margin: 0px 0px 0px 0px !important;
    padding: unset !important;
}
#navbar_ribbon {
    background-color: rgba(0, 0, 0, 0.60) !important;
    font-weight: bold !important;
    text-shadow: 5px 5px 7px #8b36d1 !important;
}

.btn {
    color: rgb(53, 170, 216) !important;
    text-shadow: 5px 5px 7px #8b36d1 !important;
    font-weight: bold !important;
    font-family: 'Clicker Script', Arial, sans-serif !important;
    font-size: 20px !important;
}

.btn.btn-outline-primary {
    border: none !important;
}
/* Nav link hover rules */
.nav-link:hover {
    background-color: #4a6fbf !important;
    color: white !important;
    border-radius: 5px;
}

.nav-item {
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}

#homepage_header {
    width: 350px;
    height: auto;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}
.container {
    width: auto !important;

}
/*Bio text*/
.home_text {
    font-family: 'Clicker Script', Arial, sans-serif; 
    font-size: 45px;
    color:rgb(53, 170, 216);
    text-shadow: 5px 5px 7px #000000 !important;
    font-weight: bold !important;
    background-color: rgba(0, 0, 0, 0.60) !important;
    padding: 25px;
}
#exclusions {
    font-family: 'Clicker Script', Arial, sans-serif;
    font-size:medium;
}
